.app {
    margin: 1rem;
}

.sellOverview {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.soldItems {
    color: #2c9d8f;
    background-color: #edf9f7;
    border: #99d1c9 solid 0.1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem;
}

.boughtItems {
    color: #468299;
    background-color: #eff4f7;
    border: #5a8ea3 solid 0.1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem;
}

.ToSellItems {
    color: #e04e2b;
    background-color: #fbeeea;
    border: #e4603f solid 0.1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem;
}

.bestSellingTv {
    display: flex;
    flex-direction: row;
    background-color: #ebebeb;
    border: #7c7c7c dashed 0.1rem;
    border-radius: 0.3rem;
    padding: 2rem;
}

.bestSellingTvInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.sortedButtons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

button {
    padding: 0 0.3rem;
}