.app {
    margin: 1rem;
}

.sellOverview {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.soldItems {
    color: #2c9d8f;
    background-color: #edf9f7;
    border: #99d1c9 solid 0.1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem;
}

.boughtItems {
    color: #468299;
    background-color: #eff4f7;
    border: #5a8ea3 solid 0.1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem;
}

.ToSellItems {
    color: #e04e2b;
    background-color: #fbeeea;
    border: #e4603f solid 0.1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem;
}

.bestSellingTv {
    display: flex;
    flex-direction: row;
    background-color: #ebebeb;
    border: #7c7c7c dashed 0.1rem;
    border-radius: 0.3rem;
    padding: 2rem;
}

.bestSellingTvInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.sortedButtons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

button {
    padding: 0 0.3rem;
}

ul {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.all-tvs {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0.625rem
}

.tv-card {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 0.625rem;
}

.tv-card img {
    width: 100%;
    max-width: 25rem;
    height: auto;
}

.tv-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    flex: 1;
}

.tv-info h2 {
    margin: 0 0 0.3125rem 0;
}

.tv-info p {
    margin: 0.125rem 0;
}

.tv-info ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.tv-info ul li img {
    margin-right: 0.5rem;
}